:root {
  /* Colors */
  --primary-color: #2b8cee;
  --bg-color-light: #f8fafc;
  --bg-color: #0f172a;
  --container-color: #1e293b;
  --text-color: #ffffff;
  --text-color-dark: #708090;
  --accent-color: #fbbf24;
  --sidebar-color: #0b1222;

  /* Gap & Padding */
  --radius-md: 8px;

  /* Font */
  --font-main: "Space Grotesk", system-ui, -apple-system, sans-serif;
}

/* 2. Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
}

/* 3. Classes */
img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
